.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: #eee;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  font-size: 4rem;
  margin: 0;
}

.footer {
  width: 100%;
  color: #989898;
  border-top: 1px solid #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-decoration: underline;
  padding: 20px 6px;
}

.button {
  border: 1px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  will-change: auto;
  transition: all 0.2s ease;
  padding: 1rem 2rem;
}

.button:focus {
  outline: 3px solid rgb(104, 105, 107);
  background-color: #eee;
  color: black;
}

.button:hover {
  background-color: #fff;
  color: black;
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);
}
